* {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
}

.panel {
  width: 90%;
  height: 90vh;
  background-color: #e74c3c;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  border-style: outset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1000px) and (orientation: landscape) {
  .panel {
    width: 60%;
    height: 80vh;
  }
}

.panel__title {
  text-align: center;
  color: white;
}

.message {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.message__text {
  text-align: center;
  font-size: 16px;
  line-height: 26px;
  margin: 0 55px;
  letter-spacing: 2px;
}

.form {
  display: none;
  background-color: #e74c3c;
  color: white;
}

.form .group {
  position: relative;
  margin-bottom: 45px;
}

.form .group .form__input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid white;
  background-color: #e74c3c;
  color: white;
}

.form .group .form__input:focus {
  outline: none;
}

.form .group .form__label {
  color: white;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
}

.form .form__input:focus ~ .form__label, .form .form__input:valid ~ .form__label {
  top: -20px;
  font-size: 14px;
  color: #00ff88;
  background-color: #e74c3c;
}

.button {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  min-height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button__start {
  background-color: #fff;
  color: #e74c3c;
  outline: none;
  border: 0;
  padding: 10px 20px;
  text-transform: uppercase;
  margin-top: 50px;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
}

.button__start:hover {
  background-color: yellow;
}

.button__next {
  background-color: #fff;
  color: #e74c3c;
  outline: none;
  border: 0;
  padding: 10px 20px;
  text-transform: uppercase;
  margin-top: 50px;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
  display: none;
}

.button__next:hover {
  background-color: yellow;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.5);
  color: white;
  display: none;
}

.modal .modal-content {
  width: 80%;
  height: 80%;
  background-color: #e74c3c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
}

@media (min-width: 1000px) {
  .modal .modal-content {
    width: 50%;
    height: 50%;
  }
}

.modal .modal-content__middle {
  text-align: center;
  margin: 0 25px;
  letter-spacing: 1px;
  line-height: 26px;
}

.modal .modal-content__button-start, .modal .modal-content__button-next {
  background-color: #fff;
  color: #e74c3c;
  outline: none;
  border: 0;
  padding: 10px 20px;
  text-transform: uppercase;
  margin-top: 50px;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
  width: 45%;
}

.modal .modal-content__button-start:hover, .modal .modal-content__button-next:hover {
  background-color: yellow;
}

.modal .modal-content__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0 10px;
}
/*# sourceMappingURL=style.css.map */