$bg-color-body: white;
$bg-color-panel: #e74c3c;
$bg-color-button: red;
$bg-color-input: white;
$font-color-text: white;
$font-color-button: white;

// $breakpoints: {
//     smartphone: (min-width: 460px),
//     smartphone-large: (min-width: 640px),
//     tablet: (min-width: 900px),
//     desktop: (min-width: 1240px),

// };
